#tint {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1000;
    width: 100%;
    height: 100%;
    opacity: 0.05;
    background-color: #006747;
}

#imagebg {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -999;
    opacity: 0.17;
    background-color: #ffffff;
    background-image: url("../images/spark.png");
    background-attachment: fixed;
}

.root-container {
    height: 100vh;
}

.custom-icon {
    display: inline-block;
    font-family: bootstrap-icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-feature-settings: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;

    svg {
        fill: currentColor;
    }
}

.spark-nav {
    .vertical-spacer {
        height: 100%;
        width: 1px;
        background-color: rgba(255, 255, 255, 0.33);
    }
}

#footerComponent {
    .spark-footer {
        bottom: 0px;
        width: 100%;
    }
}

#loginComponent {
    margin-bottom: 100px;
}

.table > :not(:last-child) > :last-child > * {
    border-bottom-color: #dee2e6 !important;
    border-bottom-width: 2px !important;
}
