:root {
    --send-bg: #c6e6ff;
    --send-color: black;
    --receive-bg: #e5e5ea;
    --receive-text: black;
    --page-background: white;
}

.single-file-view {
    .stl-image {
        width: 4em;
        margin-right: 0.5rem;
    }

    .nowrap {
        white-space: nowrap;
    }

    .grey-bubble,
    .color-bubble {
        position: relative;
        border-radius: 1.15rem;
        padding: 0.5rem 0.875rem;
        margin-bottom: 0.5rem;
        max-width: 90%;
    }

    .grey-bubble {
        color: var(--recieve-color);
        background: var(--receive-bg);
        align-self: flex-start;
    }

    .color-bubble {
        color: var(--send-color);
        background: var(--send-bg);
        align-self: flex-end;
    }

    /* .color-bubble .text-muted {
    color: rgba(255, 255, 255, 0.6) !important;
} */

    .grey-bubble:after,
    .grey-bubble:before,
    .color-bubble:before,
    .color-bubble:after {
        bottom: -0.1rem;
        height: 1rem;
        content: "";
        position: absolute;
    }

    .grey-bubble:before {
        border-bottom-right-radius: 0.8rem 0.7rem;
        border-left: 1rem solid #e5e5ea;
        left: -0.35rem;
        transform: translate(0, -0.1rem);
    }

    .grey-bubble:after {
        background-color: #fff;
        border-bottom-right-radius: 0.5rem;
        left: 20px;
        transform: translate(-30px, -2px);
        width: 10px;
    }

    .color-bubble:before {
        border-bottom-left-radius: 0.8rem 0.7rem;
        border-right: 1rem solid var(--send-bg);
        right: -0.35rem;
        transform: translate(0, -0.1rem);
    }

    .color-bubble:after {
        background-color: #fff;
        border-bottom-left-radius: 0.5rem;
        right: -40px;
        transform: translate(-30px, -2px);
        width: 10px;
    }

    .link-primary {
        cursor: pointer;
    }
}
