.jobs-page {
    .vertical-divider {
        width: 1px !important;
        background-color: #dee2e6;
    }

    .printer-icon {
        width: auto;
        height: 100%;
    }

    .icon-container {
        width: 1rem;
        height: 1rem;
    }

    .fake-button {
        padding: calc(1px + 0.375rem) 0.75rem calc(1px + 0.375rem) 0rem !important;
        line-height: 1.5 !important;
    }

    .printer-container {
        position: relative;
    }
    .overlay-button {
        position: absolute;
        top: 0.1rem;
        right: 0.1rem;
    }

    .numfiles {
        position: absolute;
        // width: 1.5em;
        // height: 1.5em;
        padding: 0 0.47em;
        top: -0.6rem;
        right: -0.4rem;
    }
}
